# BASE_URL=https://base.agcs.agetic.gob.bo
BASE_URL=http://localhost:8080
BASE_SERVER_URL=http://localhost:3000/api
# PATH_SEGIP, obtener de https://gitlab.agetic.gob.bo/agetic/agetic/proyectos-base/utilidades/datasets/demo-personas/-/blob/main/DatosServiciosFakeSEGIP.json
PATH_SEGIP=/demo-personas/DatosServiciosFakeSEGIP.json
# PATH_CIUDADANOS, obtener de https://gitlab.agetic.gob.bo/agetic/agetic/proyectos-base/utilidades/datasets/demo-personas/-/blob/main/Ciudadanos.json
PATH_CIUDADANOS=/demo-personas/Ciudadanos.json
HEADLESS=true
SLOWMO=400
