/* src/components/centro-datos/styles.module.css */

.variables {
  --bg-primary: radial-gradient(
    circle,
    hsla(175, 32%, 31%, 1) 0%,
    hsla(0, 0%, 23%, 1) 45%,
    hsla(0, 0%, 23%, 1) 100%
  );
  --text-primary: #ffffff;
  --text-secondary: #9d9d9c;
  --button-bg: rgba(255, 255, 255, 0.15);
  --button-hover: rgba(255, 255, 255, 0.25);
  --button-border: rgba(255, 255, 255, 0.2);
}

