
@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('./sinkinsans-100thin-webfont.woff2') format('woff2'),
         url('./sinkinsans-100thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans100_thin_italic';
    src: url('./sinkinsans-100thinitalic-webfont.woff2') format('woff2'),
         url('./sinkinsans-100thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('./sinkinsans-200xlight-webfont.woff2') format('woff2'),
         url('./sinkinsans-200xlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sinkin_sans200_x_light_italic';
    src: url('./sinkinsans-200xlightitalic-webfont.woff2') format('woff2'),
         url('./sinkinsans-200xlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('./sinkinsans-300light-webfont.woff2') format('woff2'),
         url('./sinkinsans-300light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light_italic';
    src: url('./sinkinsans-300lightitalic-webfont.woff2') format('woff2'),
         url('./sinkinsans-300lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('./sinkinsans-600semibold-webfont.woff2') format('woff2'),
         url('./sinkinsans-600semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sinkin_sans600SBdIt';
    src: url('./sinkinsans-600semibolditali-webfont.woff2') format('woff2'),
         url('./sinkinsans-600semibolditali-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}